<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brainiac - About</title>

    <link
    rel="shortcut icon"
    href="/images/favicon/favicon.ico"
    type="image/x-icon"
  />
  <link
    rel="apple-touch-icon"
    sizes="57x57"
    href="/images/favicon/apple-icon-57x57.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="60x60"
    href="/images/favicon/apple-icon-60x60.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="72x72"
    href="/images/favicon/apple-icon-72x72.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="76x76"
    href="/images/favicon/apple-icon-76x76.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="114x114"
    href="/images/favicon/apple-icon-114x114.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="120x120"
    href="/images/favicon/apple-icon-120x120.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="144x144"
    href="/images/favicon/apple-icon-144x144.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    href="/images/favicon/apple-icon-152x152.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/images/favicon/apple-icon-180x180.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="/images/favicon/android-icon-192x192.png"
  />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/manifest.json" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
  <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="/stylesheets/about.css" />
    <link rel="stylesheet" href="/stylesheets/mquery.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
  </head>
  <body>
    <h1 id="about">About Us</h1>

    <section class="AboutUs">
      <div class="text">
        <h1>Welcome to <span>Brainiac</span></h1>
        <hr class="underline" style="background-color: #00ffff" />
        <p>
          At Brainiac, our purpose is to democratize access to artificial
          intelligence knowledge for professionals across all fields. We
          envision a world where every individual has the opportunity to harness
          the power of AI to drive innovation, solve complex challenges, and
          create positive impact in their respective industries.
        </p>
      </div>

      <div class="pic" style="box-shadow: 2.3rem -3rem aqua">
        <img
          src="https://img.freepik.com/free-vector/cute-artificial-intelligence-robot-isometric-icon_1284-63045.jpg?t=st=1714105453~exp=1714109053~hmac=2cf9e018c8df2fd6694817ab57418acda89b31dd76f6f565f5eacc56cd18ae85&w=740"
          alt=""
        />
      </div>
    </section>
    <section class="AboutUs">
      <div class="pic" style="box-shadow: -2.3rem -3rem #4d4ffa">
        <img
          src="https://img.freepik.com/free-vector/staff-management-perspective-definition-target-orientation-teamwork-organization-business-coach-company-executive-personnel-cartoon-characters_335657-2967.jpg?t=st=1714105559~exp=1714109159~hmac=e4c3ebd2361f39b951e00d75232dcba883287dc8bd14e09a860c8a415e55d6c9&w=740"
          alt=""
        />
      </div>
      <div class="text">
        <h1>Our <span style="color: #4d4ffa">Purpose</span></h1>
        <hr class="underline" style="background-color: #4d4ffa" />

        <p>
          We believe that artificial intelligence has the potential to
          revolutionize every industry, and our purpose is to make AI education
          accessible to all.At Brainiac, we're on a mission to democratize AI
          education, bridging the gap between complex concepts and practical
          applications to enable individuals to thrive in the AI-driven world.
        </p>
      </div>
    </section>
    <section class="AboutUs">
      <div class="text">
        <h1>What We <span style="color: #5726a5">Offer</span></h1>
        <hr class="underline" style="background-color: #5726a5" />
        <p>
          Whether you're a marketer looking to harness the power of AI for
          customer insights, a healthcare professional interested in predictive
          analytics, or a finance expert exploring algorithmic trading, Brainiac
          has something for you. Our platform offers a wide range of tutorials
          covering AI tools, techniques, and applications tailored to different
          industries and skill levels.
        </p>
      </div>
      <div class="pic" style="box-shadow: 2.3rem -3rem #5726a5">
        <img src="/images/Offer.jpg" alt="" />
      </div>
    </section>
    <section id="Choose">
      <h1>Why Choose <span style="color: mediumspringgreen">Brainiac</span></h1>
      <hr />
      <div class="con">
        <div class="box">
          <div class="img-box"><img src="/images/free.png" alt="" /></div>
          <h3>Free Access</h3>
          <p>
            We believe that knowledge should be freely accessible to all. That's
            why all our tutorials are available to users at no cost.
          </p>
        </div>

        <div class="box">
          <div class="img-box"><img src="/images/quality.png" alt="" /></div>
          <h3>Quality Content</h3>
          <p>
            Our tutorials are created and curated by industry experts, ensuring
            that you receive accurate, up-to-date, and practical information.
          </p>
        </div>

        <div class="box">
          <div class="img-box">
            <img src="/images/user-friendly.png" alt="" />
          </div>
          <h3>User-Friendly Experience</h3>
          <p>
            We've designed our platform to be intuitive and easy to navigate,
            making it effortless for you to find the resources you need.
          </p>
        </div>

        <div class="box">
          <div class="img-box">
            <img src="/images/community.png" alt="" />
          </div>
          <h3>Community Engagement</h3>
          <p>
            Join a vibrant community of learners and experts alike. Ask
            questions, share insights, and connect with like-minded individuals
            from around the world.
          </p>
        </div>
      </div>

      <div class="swiper mySwiper" id="mySwiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="box">
              <div class="img-box"><img src="/images/free.png" alt="" /></div>
              <h3>Free Access</h3>
              <p>
                We believe that knowledge should be freely accessible to all. That's
                why all our tutorials are available to users at no cost.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="box">
              <div class="img-box"><img src="/images/quality.png" alt="" /></div>
              <h3>Quality Content</h3>
              <p>
                Our tutorials are created and curated by industry experts, ensuring
                that you receive accurate, up-to-date, and practical information.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="box">
              <div class="img-box">
                <img src="/images/user-friendly.png" alt="" />
              </div>
              <h3>User-Friendly Experience</h3>
              <p>
                We've designed our platform to be intuitive and easy to navigate,
                making it effortless for you to find the resources you need.
              </p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="box">
              <div class="img-box">
                <img src="/images/community.png" alt="" />
              </div>
              <h3>Community Engagement</h3>
              <p>
                Join a vibrant community of learners and experts alike. Ask
                questions, share insights, and connect with like-minded individuals
                from around the world.
              </p>
            </div>
          </div>
        
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </section>
    <section class="img">
      <div class="div">
        <div id="text">
          <h1>Get Started Today</h1>
          <p>
            Ready to embark on your AI learning journey? Dive into our
            tutorials, explore new concepts, and unlock the potential of
            artificial intelligence in your field. Whether you're a seasoned
            professional or just getting started, Brainiac is here to support
            you every step of the way.
          </p>
        </div>
      </div>
    </section>

  
  </body>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script>
    var swiper = new Swiper(".mySwiper", {
     autoplay:true,
      loop:true,
      pagination: {
        el: ".swiper-pagination",
        dynamicBullets: true,
      },
    });
  </script>
</html>
