<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brainiac - LogIn</title>

    <link
      rel="shortcut icon"
      href="/images/favicon/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/images/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/images/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/images/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/images/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/images/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/images/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/images/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/images/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/images/favicon/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/mquery.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
  />
</head>

<body>
    <div class="container">
        <div class="ocean">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
          </div>
        <div class="Rform">
            <form action="/login" method="post">
                <h2>Login</h2>
                <% if (error && error.length > 0) { %>
                    <div class="error-message" style=" width: 90%; margin: auto;">
                        <p style="color: red; font-size: 15px;"><%= error %></p>
                    </div>
                <% } %>
                <div class="input-box">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required />
                </div>
            
                <div class="input-box">
                    <label for="">Password</label>
                    <input type="password" name="password" id="password" required />
                    <i class="ri-eye-off-fill"></i>
                  </div>
            
                <div class="subtn"><input type="submit" value="LOGIN"  ></div>
                <p><a href="/register">Don't have an account ?</a></p>
            </form>
            
        </div>
    </div>

</body>

<script>
    const eyeIcon = document.querySelector(".ri-eye-off-fill");
    eyeIcon.addEventListener("click", () => {
      const password = document.querySelector("#password");
      if (password.type == "password") {
        password.type = "text";
        eyeIcon.className = "ri-eye-fill"
      } else {
        password.type = "password";
        eyeIcon.className = "ri-eye-off-fill"
      }
    });
  </script>

</html>