<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Brainiac - Register</title>

    <link
      rel="shortcut icon"
      href="/images/favicon/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/images/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/images/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/images/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/images/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/images/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/images/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/images/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/images/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/images/favicon/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="/stylesheets/register.css" />
    <link rel="stylesheet" href="/stylesheets/mquery.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container" id="r-con">
      <section class="wave">
        <div class="air air1"></div>
        <div class="air air2"></div>
        <div class="air air3"></div>
        <div class="air air4"></div>
      </section>
      <div class="Rform" id="RT-form">
        <form
          action="/register"
          method="post"
          onsubmit="return validateForm()"
        >
          <h2>Register</h2>

          <% if (typeof error !== 'undefined') { %>
          <div style="width: 90%; margin: auto">
            <span
              style="
                color: red;
                font-size: 20px;
                text-align: center;
                margin: 1rem auto;
              "
              ><%= error %></span
            >
          </div>
          <% } %>

          <div id="error-messages" style="color: red"></div>
          <div class="input-box">
            <label for="">Full Name</label>
            <input
              type="text"
              name="fullName"
              id="fullName"
              required
              autocomplete="off"
            />
          </div>

          <div class="input-box">
            <label for="">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              required
              autocomplete="off"
            />
            <span id="username-error" style="color: red; display: none"
              >Username must contain at least one special character or
              number.</span
            >
          </div>

          <div class="input-box">
            <label for="">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              required
              autocomplete="off"
            />
            <span id="email-error" style="color: red; display: none"
              >Please enter a valid email address.</span
            >
          </div>

          <div class="input-box">
            <label for="">Password</label>
            <input type="password" name="password" id="password" required />
            <span id="password-error" style="color: red; display: none"
              >Password must be at least 8 characters long and contain a special character.</span
            >
            <i class="ri-eye-off-fill"></i>
          </div>

          <div class="subtn"><input type="submit" value="SUBMIT" /></div>
          <p><a href="/login">Already have an account ?</a></p>
        </form>
      </div>
    </div>

    <script>
      function validateForm() {
        var usernameInput = document.getElementById("username");
        var username = usernameInput.value;
        var passwordInput = document.getElementById("password");
        var password = passwordInput.value;

        // Regular expression to check for at least one special character or number
        var regex = /[!@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?0-9]/;

        if (!regex.test(username)) {
          document.getElementById("username-error").style.display = "block";
          return false; // Prevent form submission
        }

        if (password.length < 8 || !regex.test(password)) {
          document.getElementById("password-error").style.display = "block";
          return false; // Prevent form submission
        }

        return true; // Allow form submission
      }
    </script>

    <script>
      const eyeIcon = document.querySelector(".ri-eye-off-fill");
      eyeIcon.addEventListener("click", () => {
        const password = document.querySelector("#password");
        if (password.type == "password") {
          password.type = "text";
          eyeIcon.className = "ri-eye-fill"
        } else {
          password.type = "password";
          eyeIcon.className = "ri-eye-off-fill"
        }
      });
    </script>
  </body>
</html>
