<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <link
      rel="shortcut icon"
      href="/images/favicon/favicon.ico"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="/images/favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="/images/favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="/images/favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/images/favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/images/favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/images/favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/images/favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/images/favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/images/favicon/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="stylesheet" href="/stylesheets/mquery.css" />
    <link rel="stylesheet" href="/stylesheets/tutorial.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <section class="head-sect">
      <div class="con" id="Tute-con">
        <div class="box">
          <h3></h3>
        </div>
        <div class="icon">
          <i class="ri-global-line">English</i>
        </div>
      </div>

      <div id="detail-con">
        <div class="video_con"></div>
        <p style="margin-top: 8rem">
          <a href="/feedback" style="font-size: 1.2rem"
            >Share Your Experience with us<i class="ri-arrow-right-line"></i
          ></a>
        </p>
      </div>
    </section>
  </body>

  <script>
    const proLetter = document.querySelector(".pro_pic #fletter");
    const closeButton = document.querySelector(".ri-close-circle-fill ");

    proLetter.addEventListener("click", function (event) {
      event.preventDefault(); // Prevent default behavior of the anchor tag
      const pMenu = document.querySelector(".profile-menu");
      pMenu.style.display = "inline";
    });

    closeButton.addEventListener("click", function () {
      const pMenu = document.querySelector(".profile-menu");
      pMenu.style.display = "none";
    });
  </script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const storedTutorialData = JSON.parse(
        localStorage.getItem("tutorialData")
      );

      if (storedTutorialData) {
        const titleElement = document.querySelector(".con .box h3");
        titleElement.textContent = storedTutorialData.title;

        const videoURL = storedTutorialData.isrc || ""; // Default to empty string if video URL is not available
        const videoContainer = document.querySelector(".video_con");
        videoContainer.innerHTML = `
          <iframe width="600" height="350" 
            src="${videoURL}" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
          </iframe>`;
      }
    });
  </script>
</html>
